.faveladeto--section {
    margin-top: 800px;
    margin-bottom: 200px;
    padding-bottom: 50px;
    .faveladeto--title {
        font-size: 70px;
        word-spacing: 1px;
        line-height: 30px;
        margin-left: 80px;
        margin-bottom: -200px;
        position: absolute;
        margin-top: -15px;
        color: black;
    }
    .faveladeto--images {
        width: 15%;
        height: 60%;
        float: right;
    }
}